{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Genetics</h1>
    {#<p class="lead">Genetics is the study of genes, genetic variation, and heredity in living organisms.</p>#}
    <p><a href="http://www.tiensmed.ru/news/post_new7670.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fact 1</h2>
        <p>
            Fact 1. Definition
        </p>
        <p><a class="btn btn-default" href="http://www.tiensmed.ru/news/post_new7670.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fact 2</h2>
        <p>Fact 2. Definition</p>
        <p><a class="btn btn-default" href="http://www.tiensmed.ru/news/post_new7670.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fact 3</h2>
        <p>Fact 3. Definition</p>
        <p><a class="btn btn-default" href="http://www.tiensmed.ru/news/post_new7670.html">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
