{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="black">Генетика</h1>
    <p><a href="https://hi-news.ru/tag/genetika" target ="_blank" class="btn btn-primary btn-large">Узнать больше</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="black">"Тупайи против!", или коротко о том, как можно жить не по правилам</h2>
        <p>
            В 1964 году зоолог Дж. Фостер опубликовал статью,
            в которой утверждалось, что мелкие зверушки на островах крупнее,
            чем на материке (островной гигантизм).
            Также с 1847 года известно правило немецкого биолога К. Бергмана:
            в холодных климатах обитают виды с более крупными размерами тела, чем в жарких.
            Но милые маленькие зверьки тупайи отказались подчиняться этим законам.
        </p>
        <p><a class="btn btn-default" href="http://batrachospermum.ru/2018/01/tupaia-vs-rules/" target="_blank">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="black">12 паразитов, способных управлять поведением своих хозяев</h2>
        <p>
            Огромное количество паразитов населяет нашу планету.
            Некоторые просто живут за счет других организмов, но
            есть те, кто нашел способ жить с максимальным комфортом.
            Предлагаем вашему вниманию ссылку на статью сообщества 
            "Наука и Технологии. Астрономия и Космонавтика", в которой описываются самые 
            удивительные паразиты, имеющие уникальную способность 
            манипулировать своими "хозяевами".</p>
        <p><a class="btn btn-default" href="https://vk.com/@science_newworld-12-parazitov-sposobnyh-upravlyat-povedeniem-svoih-hozyaev" target="_blank">Подробнее &raquo;</a></p>
    </div>
</div>

{% endblock %}
