{% extends "app/layout.html" %}

{% block content %}

<h2 class="white">Регистрация пользователя</h2>
<hr/>
<form method="POST" > {% csrf_token %}
<div>
   <table>
       <tr>
           <td class="white"> Введите Ваш логин</td>
           <td> {{ regform.username }}</td>
       </tr>
          
       <tr>
            <td class="white"> Введите пароль (не менее 8 символов)</td>
            <td> {{ regform.password1 }}</td>
       </tr>
          
       <tr>
            <td class="white"> Подтверждение пароля</td>
            <td> {{ regform.password2 }}</td>
       </tr>

       <tr>
            <td> </td>
            <td> <button type="submit" class="save btn btn-default" > Зарегистрировать </button></td>
       </tr>
       
   </table>
</div>
        
</form>

{% endblock %}


