{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}

<h2 class="white">{{ title }}.</h2>
<h3 class="wh_sect">{{ message }}</h3>

<div>
    <table>
        <tr>
            <td class="red bolding"><h2>Генетика</h2></td>
            <td><img src="{% static "app/content/chromosoma.png" %}" alt="Генетика" /></td>
            <td><p class="sections">ГЕНЕТИКА (греч. genetikos относящийся к происхождению) — наука о наследственности и изменчивости организмов.
                <br/>
                   Предметом изучения генетики являются два свойства организмов — наследственность 
                   и изменчивость. Наследственность — свойство организмов передавать следующему поколению
                   присущие данному организму особенности становления в ходе онтогенеза определенных
                   черт строения и типа обмена веществ. Передача особенностей организма следующим поколениям
                   возможна только в процессе размножения или самовоспроизведения.
                <br/>
                   Другим свойством организмов, входящим в предмет исследования генетики,
                   является изменчивость. Изменчивость — свойство живых организмов,
                   заключающееся в изменении генов и их проявления в процессе развития организма,
                   т. е. изменчивость является свойством, противоположным наследственности.</p></td>
        </tr>

        <tr>
            <td class="red bolding"><h2>Цитология</h2></td>
            <td><img src="{% static "app/content/cell.png" %}" alt="Цитология" /></td>
            <td><p class="sections">ЦИТОЛОГИЯ (греческий kytos вместилище, здесь — клетка + logos учение) — наука о строении, функциях
                   и развитии клеток животных и растений, а также одноклеточных организмов и бактерий.
                   Цитологические исследования имеют существенное значение для диагностики заболеваний человека и животных.
                <br/>
                   Развитие цитологии исторически связано с созданием и усовершенствованием микроскопа 
                   и гистологических методов исследования. Термин «клетка» впервые был применен Гуком,
                   описавшим клеточное строение (точнее — целлюлозные оболочки клеток) ряда растительных тканей.
                   В 17 веке наблюдения Гука были подтверждены и развиты М. Мальпиги, Грю, А. Левенгуком.
                   В 1781 году Фонтана опубликовал рисунки животных клеток с ядрами.</p></td>
        </tr>
          
        <tr>
            <td class="red bolding"><h2>Ботаника</h2></td>
            <td><img src="{% static "app/content/flower.png" %}" alt="Ботаника" /></td>
            <td><p class="sections">БОТАНИКА (греч, botanikos относящийся к растениям) — наука о растениях:
                   их строении, жизнедеятельности, классификации, распространении, историческом развитии,
                   значении в жизни природы и человека; один из основных разделов биологии.
                <br/>
                   Морфология растений изучает закономерности строения и формообразования растений
                   в процессе их индивидуального и исторического развития.
                <br/>
                   Физиология растений изучает жизненные процессы в растениях.
                <br/>
                   Систематика растений изучает разнообразие растений, разделяет растительный мир на
                   соподчиненные единицы — таксоны, располагает отдельные таксоны
                   (виды, роды, семейства и др.) в единую систему в соответствии с их родственными
                   отношениями и эволюционным развитием (филогения), устанавливает рациональные их
                   названия (номенклатура).</p></td>
        </tr>

        <tr>
            <td class="red bolding"><h2>Зоология</h2></td>
            <td><img src="{% static "app/content/enot.png" %}" alt="Зоология" /></td>
            <td><p class="sections">ЗООЛОГИЯ (греч, zoon животное + logos учение) — раздел биологии,
                   изучающий животных. 3оология тесно связана с практической деятельностью человека,
                   освоением и охраной животного мира как естественной составной части биосферы Земли.
                <br/>
                   Строение и функции организма, отдельных его органов и тканей изучаются
                   методами морфологии, физиологии, гистологии, цитологии, физиологии и других наук.
                   Исследование процесса индивидуального развития животного (его онтогенеза) — предмет
                   изучения эмбриологии. Закономерности наследования признаков и их изменчивости
                   изучает генетика, поведение животных — этология, взаимосвязи животных со средой
                   их обитания — экология, взаимоотношение паразитов и их хозяев — паразитология
                   и т. д.
                   <br/>
                   Становление зоологии как науки связывают с именем древнегреческого
                   ученого Аристотеля (4 в. до н. э.), обобщившего имеющиеся достижения
                   в изучении животных.</p></td>
        </tr>

        <tr>
            <td class="red bolding"><h2>Анатомия</h2></td>
            <td><img  src="{% static "app/content/heart.png" %}" alt="Анатомия" /></td>
            <td><p class="sections">АНАТОМИЯ (греческий anatomē — рассечение, расчленение) — наука
                   о строении и формах организма, органов и тканей человека и животных.
                <br/>
                   Данная наука исследует тело человека и животных, системы органов и
                   образующих их тканей в их функциональном взаимодействии, в процессе
                   становления и развития. В анатомии, как в любой науке, анализ сочетается
                   с синтезом, за подробным описанием строения следует раскрытие его
                   причинной обусловленности и исследуются объективные законы организации
                   живых систем.
                <br/>
                   Анатомия человека дает систематизированное описание формы, строения,
                   положения и топографических взаимоотношений частей тела и органов с
                   учетом их возрастных изменений, половых различий и индивидуальных
                   особенностей. </p></td>
        </tr>
                  
    </table>
</div>

{% endblock %}
