body {
    background-image: url('backgrouder.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00e7cf;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-image: url(http://vfl.ru/fotos/82603c4720937513.html);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 239, 220, 0.3);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #00ff21;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

th, td {
    padding: 20px;
}

.white {
    font-family: arial;
    font-size: 16px;
    color: white;
    font-style: oblique;
}

.red {
    font-family: arial;
    font-size: 16px;
    color: orangered;
    font-style: oblique;
}

.bolding {
    font-weight: 700;
}

h1.black {
    font-family: '1Isadora M Bold', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #00e7cf;
    color: black
}

h1.white {
    font-family: '1Isadora M Bold', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #00e7cf;
    color: white
}

h2.black {
    font-family: 'PT Sans Bold Italic', arial;
    font-size: 32px;
    color: black
}

h2.white {
    font-family: 'PT Sans Bold Italic', arial;
    font-size: 32px;
    color: white;
}

p {
    font-family: arial;
    font-size: 18px;
    color: white;
    font-style: italic;
    text-align: justify
}

p.sections {
    font-family: 'HeinrichScript', arial;
    font-size: 20px;
    color: orangered;
    font-style: italic;
    text-align: justify
}

.wh_sect {
    font-family: 'HeinrichScript', arial;
    font-size: 24px;
    color: white;
    font-style: oblique;
}

p.comm {
    font-family: 'HeinrichScript', arial;
    font-size: 24px;
    color: orangered;
    font-style: italic;
    text-align: justify
}

a.blog {
    font-family: 'HeinrichScript', arial;
    font-size: 26px;
    font-style: italic;
    color: white;
}

a.contact {
    font-family: 'HeinrichScript', arial;
    font-size: 26px;
    font-style: italic;
    color: orangered;
}

a:hover {
    color: white;
    text-decoration: underline;
}
